html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img{
	width: 100%;
}

body{
	font-family: 'Dosis', sans-serif;
}

nav{
	background-color: #512200;
	opacity: 50%;
}
