html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img{
	width: 100%;
	display: block;
}

body{
	margin: 0em;
	font-family: 'Dosis', sans-serif;
}

nav{
	background-color: #512200;
	opacity: 0.5;
	margin: 0em;
	padding: 2em;
}

nav ol{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
}


nav a {
	color: white;
	text-decoration: none;
}

ol li{
	display: inline-block;
}

ol a {
	padding: 0.5rem 0.75rem;
	color: white;
	text-decoration: none;
	text-align: center;
	display: inline-block;
}

.masthead{
	background-image: url("../images/subtle-white-mini-waves-2.png"), url("../images/bug-logo.svg");
	background-size: 200px auto, 75px auto;
	padding: 6em;
	background-repeat: repeat, no-repeat;
	background-position: center 20px, left top 20px;
	text-align: center;
}

.btn{
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 0.75em;
	border-radius: 10px;
	background-color: #6fbf44;
	background-image: linear-gradient(to bottom, #6fbf44, #388200);
}

div a:hover{
	background-image: linear-gradient(to bottom, #388200, #214d00);
}

h1{
	font-weight: bold;
}

footer{
	background-color: #512200;
	opacity: 0.5;
}
