html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img{
	width: 100%;
	display: block;
}

body{
	margin: 0em;
	font-family: 'Dosis', sans-serif;
}

nav{
	background-color: #512200;
	opacity: 50%;
	margin: 0em;
	padding: 0em;
}

nav ol{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
}

nav a {
	color: white;
	text-decoration: none;
}

.masthead{
	background-image: url("../images/subtle-white-mini-waves-2.png"), url("../images/bug-logo.svg");
	background-size: 200px auto, 75px auto;
	padding: 6em;
	background-repeat: repeat, no-repeat;
	background-position: center 20px, left top 20px;
	text-align: center;
