html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img{
	width: 100%;
	display: block;
}

body{
	margin: 0em;
	font-family: 'Dosis', sans-serif;
}

nav{
	margin: 0em;
	padding: 0em;
	background-color: rgba(81, 34, 0, 0.5);
}

nav ol{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
	overflow:hidden;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: .9em;
}

ol li{
	display: inline-block;
	width:25%;
	float:left;
	margin:0;
	padding: 0.5em;
}

ol a {
	color: white;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}

ol li:hover{
	background-color: #512200;
	opacity:0.75;
	color:white;
}

.masthead{
	background-image: url("../images/bug-logo.svg"), url("../images/bug-logo.svg"), url("../images/subtle-white-mini-waves-2.png");
	background-size: 55px auto, 55px auto, 100px auto;
	padding-top: .5em;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left 20px, right 20px, center 20px;
	text-align: center;
}

.billboard{
	background-image: url("../images/rocks.jpg");
	background-size:100% auto;
	background-position: center;
	color: white;
}

.billboard p{
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
	padding-top:7em;
	padding-bottom:1em;
	width:100%;
	font-weight:bold;
	text-align:center;
	margin: 0em;
}

p{
	color:white;
	font-weight: bold;
	font-size: 1em;
}


.btn{
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 0.75em;
	border-radius: 20px;
	background-color: #6fbf44;
	background-image: linear-gradient(to bottom, #6fbf44, #388200);
	position: absolute;
	box-shadow: 5px 2px 2px #000;
	left:20%;
	width: 60%;
	bottom: 1.5em;
}

.ant1{
	margin:0em;
	float:left;
	width: 50%;
}

.stag1{
	margin:0em;
	float:right;
	width: 50%;
}

.dung1{
	margin:0em;
	float:left;
	width: 50%;
}

.tortoise1{
	margin:0em;
	float:left;
	width: 50%;
}

.box-ant{
	position:relative;
	text-align:center;
	width:50%;
	float:left;
}

.box-dung{
	position:relative;
	text-align:center;
	width:50%;
	float:left;
}

.box-stag{
	position:relative;
	text-align:center;
	width:50%;
	float:left;
}

.box-tortoise{
	position:relative;
	text-align:center;
	width:50%;
	float:left;
}

.box-stag img{
	width:100%;
	display:block;
}

.box-dung img{
	width:100%;
	display:block;
}

.box-ant img{
	width:100%;
	display:block;
}

.box-tortoise img{
	width:100%;
	display:block;
}

.buttons{
	position:relative;
	clear:both;
}

main{
	display:block;
}

div a:hover{
	background-image: linear-gradient(to bottom, #388200, #214d00);
}

h1{
	font-weight: bold;
	display:block;
	position:relative;
}

footer{
	background-color: rgba(81, 34, 0, 0.5);
	background-position: center 5px;
	clear:both;
	padding: 1em;
	text-align:center;
}

.bug-footer{
	width: 40px;
	display:inline-block;
}
