html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img{
	width: 100%;
	display: block;
}

body{
	margin: 0em;
	font-family: 'Dosis', sans-serif;
}

nav{
	background-color: #512200;
	opacity: 0.5;
	margin: 0em;
	padding: 1em;
}

nav ol{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
}

nav a {
	color: white;
	text-decoration: none;
}

ol li{
	display: inline-block;
	width:24%;
	font-size: 1.5em;
}


ol a {
	padding: 0.5rem 0.75rem;
	color: white;
	text-decoration: none;
	text-align: center;
	display: inline-block;
}

ol a:hover{
	background-color: #512200;
	opacity:0.75;
	color:white;
}

.masthead{
	background-image: url("../images/bug-logo.svg"), url("../images/bug-logo.svg"), url("../images/subtle-white-mini-waves-2.png");
	background-size: 55px auto, 55px auto, 100px auto;
	padding-top: .5em;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left 20px, right 20px, center 20px;
	text-align: center;
}

.billboard{
	background-image: url("../images/rocks.jpg");
	padding:5em;
	background-size:100% auto;
	background-position: center;
	width:100%;
}

p{
	color:white;
	font-weight: bold;
	font-size: 1em;
}

.btn{
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 0.75em;
	border-radius: 10px;
	background-color: #6fbf44;
	background-image: linear-gradient(to bottom, #6fbf44, #388200);
}

.ant1{
	margin:0em;
	float:left;
	width: 50%;
}

.stag1{
	margin:0em;
	float:right;
	width: 50%;
}

.dung1{
	margin:0em;
	float:left;
	width: 50%;
}

.tortoise1{
	margin:0em;
	float:left;
	width: 50%;
}

.box-ant{
	position:absolute;
	left:-6em;
	bottom:20em;
	text-align:center;
	width:100%;
}

.box-dung{
	position:absolute;
	left:6em;
	bottom:20em;
	text-align:center;
	width:100%;
	display: inline-block;
}

.box-stag{
	position:absolute;
	left:6em;
	bottom:6em;
	text-align:center;
	width:100%;
}


.buttons{
	position:relative;
	clear:both;
}

div a:hover{
	background-image: linear-gradient(to bottom, #388200, #214d00);
}

h1{
	font-weight: bold;
	display:block;
	position:relative;
}

footer{
	background-color: #512200;
	opacity: 0.5;
	background-image: url("../images/bug-logo.svg");
	background-size: 55px auto;
	padding: 2em;
	background-repeat: no-repeat;
	background-position: center 5px;
}
